<h2>My Tasks</h2>
<ul class="tasks">
  <li *ngFor="let task of tasks"
    [class.selected]="task === selectedTask"
    (click)="onSelect(task)">

    <div [ngSwitch]="task.status" class="status">
      <span class="badge">{{task.trackingNumber}}</span> {{task.name}}
      <span class="aborted" *ngSwitchCase="'Aborted'">X</span>
      <span class="completed" *ngSwitchCase="'Completed'">√</span>
    </div>

  </li>
</ul>
<div *ngIf="selectedTask">
  <h2>
    {{selectedTask.name}} for tracking number {{selectedTask.trackingNumber}} is {{selectedTask.status | lowercase}}.
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>