<div *ngIf="task">
  <h2>{{task.name}}</h2>
  <div>
    <label>Tracking Number: </label>{{task.trackingNumber}}
  </div>
  <div>
    <label>Description: </label>{{task.description}}
  </div>
  <div>
    <label>Status: </label>{{task.status}}
  </div>
  <div *ngIf="inData.length > 0">
    <h3>Provided Information</h3>
    <div *ngFor="let datum of inData">
      <label class="data">{{datum.name | replaceUnderscores}}: </label>{{datum.value}}
    </div>
  </div>
  <div *ngIf="outData.length > 0">
    <h3>Required Information</h3>
    <dynamic-form
      [questions]="questions"
      [task]="task">
    </dynamic-form>
  </div>
  <button (click)="goBack()">Back</button>
</div>